DATABASE_URL="your-prisma-db-url"
JWT_SECRET = 'expense-tracker-dev-jwt-secret'
NODE_ENV=development

expires_in=1d
anonymous_expires_in=30d
GEMINI_API_KEY="your-gemini-api-key"
GEMINI_MODEL="my-gemini-model"